*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-size: 0.7rem;
}

ul{
    list-style: none;
    justify-content: space-around;
    min-width: 35%;
    padding: 0.8rem;
}

a{
    text-decoration: none;
    color: black;
}

.light-blue-background{
    background-color: rgb(180 208 231);
}

.flex{
    display: flex;
}

.blue-button{
    border: none;
    background-color: rgb(0 97 255);
    color: white;
    padding: 5px 10px;
    
}

header nav{
    justify-content: space-between;
}

li img.logo{
    text-align: center;
    width: 70%;
}

div.jumbotron{
    width: 65%;
    margin: 0 auto;
}

div.jumbotron h1{
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 2rem;
}

div.text-jumbo{
    width: 40%;
    justify-content: space-between;
    flex-direction: column;
}

div.img-jumbo{
    width: 65%;
}

div.img-jumbo img{
    width: 100%;
}