/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-size: 0.7rem;
    margin-bottom: 6rem;
}
 ul{
    list-style: none;
 }

footer{
    margin-top: 10%;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    
}

img{
    width: 100%;
    height: 100%;
}

header a{
    text-decoration: none;
    color: black;
}

.light-blue-background{
    background-color: rgb(180 208 231);
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.blue-button{
    border: none;
    background-color: rgb(0 97 255);
    color: white;
    padding: 6px 10px;
    font-size:0.7rem;
}

div.column-order button.blue-button{
    width: 170px;
    height: 30px;
}

.container-main{
    width: 60%;
    margin: 0 auto;
}

.radio-button{
    margin: 5% 1%;
}

.column{
    width: calc(100%/3.4);
}

.column-order{
    margin: 2rem 0;
    padding: 0 1rem;
    font-size: 0.8rem;
}

.border-column{
    border: 1px solid rgb(219 219 221);
}

.button-gray{
    border: 2px solid hsl(0deg 0% 25.88%);
    padding: 0.5rem;
    font-size: 0.8rem;
}
.column-icon{
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(219 219 221);
}

.container-column{
    justify-content: space-between;
}

.small-title{
font-size: 0.8rem;
margin-bottom: 1.5rem;
}

.wide-column{
    padding: 0.5rem 1rem;
}

.price{
    color: rgb(128 135 133);
    font-size: 0.80rem;
    margin-bottom: 1rem;
}

.right{
    width: 60%;
}

.left{
    width: 40%;
}

.margin-top{
    margin-top: 3rem;
}

.padding-text{
    padding: 1.5rem 2.5rem;
    
}

.margin-title{
    margin-top: 6em;
}

.partner-logo-container{
    width: calc(100vw/3);
    height: calc(100vw/3);
    flex-wrap: wrap;
}

.partner-logo{
    width: 50%;
    height: 50%;
}

.red-background{
    background-color: rgb(255 28 28);
}

.lightgreen-background{
    background-color: rgb(162 211 155);
}

.violet-background{
    background-color:rgb(97 8 43);
}

.lightblue-background{
    background-color:rgb(0 147 206);
}

.blue-background{
    background-color:blue;
}

.lightgray-background{
    background-color:rgb(180 208 231);
}

.yellow-background{
    background-color:rgb(255 216 48);
}

header nav{
    justify-content: space-between;
}

li img.logo{
    text-align: center;
    width: 70%;
}

header ul{
    justify-content: space-around;
    min-width: 35%;
    padding: 0.8rem;
}

div.jumbotron{
    width: 70%;
    margin: 0 auto;
}

div.header-height{
    height: 305px;
}

div.jumbotron h1{
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 2rem;
}

div.text-jumbo{
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

div.img-jumbo{
    width: 70%;
    height: 376px;
}


div.column-order h2{
    font-size: 1.3rem;
}

div.column-order ul li,
div.column-order p,
div.column-order h3
{
    padding: 0.5rem 0;
}

div.column-order hr{
    margin: 1rem 0;
    width: 50px;
}

main section.container-main.wide{
    margin-top: 45px;
    margin-bottom: 90px;
}

div.wide-column.left{
    padding-left: 20%;
}

div.partner-logo img{
    width: 70%;
    margin: auto;
    filter: invert(1);
}
