*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-size: 0.7rem;
    margin-bottom: 6rem;
}

ul{
    list-style: none;
    justify-content: space-around;
    min-width: 35%;
    padding: 0.8rem;
}

header a{
    text-decoration: none;
    color: black;
}

.light-blue-background{
    background-color: rgb(180 208 231);
}

.flex{
    display: flex;
}

.blue-button{
    border: none;
    background-color: rgb(0 97 255);
    color: white;
    padding: 6px 10px;    
}

.container-main{
    width: 60%;
    margin: 0 auto;
    height: 1100px;
}

.radio-button{
    margin-left: 10px;
    margin-bottom: 5%;
}

.column{
    width: calc(100%/4);
    border: 1px solid rgb(219 219 221);
}

.column-order{
    padding: 1.5rem 0.7rem;
}

.column-icon{
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(219 219 221); ;
}

.container-column{
    justify-content: space-between;
}

header nav{
    justify-content: space-between;
}

li img.logo{
    text-align: center;
    width: 70%;
}

div.jumbotron{
    width: 70%;
    margin: 0 auto;
}

div.jumbotron h1{
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 2rem;
}

div.text-jumbo{
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

div.img-jumbo{
    width: 70%;
}

div.img-jumbo img{
    width: 100%;
    margin-bottom: -9%;
}

section.container-main h1{
    margin-bottom: 5%;
}